@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer components {
  .product-sticky {
    top: 74px;
    position: sticky;
  }

  .size-striked {
    height: 1px;
    width: 32px;
    transform: rotateZ(-15deg);
    position: absolute;
    display: block;
  }
}
